/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    text-decoration: none;
    text-underline-offset: none;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Asegúrate de que el body no tenga márgenes ni padding */
body {
    margin: 0;
    padding: 0;
}

.header {
    position: relative; /* Fija el header en la parte superior */
    top: 0; /* Alinea el header en la parte superior */
    width: 100%; /* Asegura que el header ocupe todo el ancho de la ventana */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-image: url("../img/teatro-eslava.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 1; /* Asegura que la superposición esté por encima de la imagen de fondo */
}
.container2{
    margin-top: 20px;
}
.container1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.navmenu{
    padding: 0;
}
.navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navmenu li {
    position: relative;
  }
  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }
  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    font-size: 13px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: rgb(47, 163, 225);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: color-mix(in srgb, white 90%, rgb(219, 166, 166) 15%);
  }

.container1, .container2 {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima de la superposición */
    color: white; /* Cambia el color del texto a blanco para mejor legibilidad */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre los contenedores */
}
.concierto-tittle{
    color: white;
    font-size: 1.5em;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border: #000 1px solid;
    margin-bottom: 50px;
}
.concierto-tittle h1{
    margin-top: 10px;

    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(106, 186, 255);
    font-family:Arial, Helvetica, sans-serif ;
}
.concierto-tittle p{
    margin-top: 10px;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.line2 {
    border: 0.5px rgb(255, 255, 255) solid;
    width: 98%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}
.sitename {
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(106, 186, 255);
}
.breadcrumbs{
    margin-top: 20px;
    color: white;
}
.breadcrumbs ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
.breadcrumbs ol li+li {
    padding-left: 10px;
}
.breadcrumbs ol li+li::before {
    content: "/";
    color: white;
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, rgb(118, 118, 239), transparent 50%);
}
.section2{
    color: black;
    display: flex;
    background-image: url("../img/concierto3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
footer{
    border: 2px blue solid;
}
/*---------------------------------------
  FOOTER
-----------------------------------------*/
.site-footer {
    border-top: 5px black solid;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.site-footer-top {
    margin-top: 0;
    background-color: #2805b3;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    top: 0;
    min-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.site-footer h2 {
    margin: 0;
}

.social-icon {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icon-item {
    display: inline-block;
}

.social-icon-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;

}

.social-icon-link:hover {
    background-color: #02030a;
}

.social-icon ul {
    list-style: none;
    align-items: center;
}

.social-icon-link span {
    display: block;
}

.row2 {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
    display: flexbox;
    height: 40vh;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}

.col {
    flex: 1;
    min-width: 280px;
}

.site-footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: 0px;
}

.site-footer-title {
    font-size: 25px;
    color: rgb(15, 67, 179);
}

.site-footer-link-item {
    color: rgb(224, 16, 16);
    margin-left: 0px;
}

.site-footer-bottom {
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 0;
}

.site-footer-link:hover {
    text-decoration: underline;
}

.site-footer-link {
    text-decoration: none;
    color: white;
}

.site-footer-link-item {
    margin-bottom: 5px;
}

.line {
    border: 0.1px rgb(29, 27, 27) solid;
    width: 98%;
    margin-bottom: 20px;
    margin-top: 30px;
}
.site-footer-bottom .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 0px;
}
.container3{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.imagen-concierto{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.concierto-img{
    width: 470px;
    height: 470px;
    border-radius: 15px;
}
.imagen-concierto :hover{
    transform: scale(1.01);
    transition: 0.5s;
}
.info-concierto{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: fit-content;
    width: 100%;
    padding: 70px;
    justify-content: space-between;   
    align-items: center;
    margin-bottom: 30px;
    border: 3px solid rgb(173, 247, 232);
    box-shadow: #000000;
    margin-right:10px;
    
}
.info-concierto h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
}
.info-concierto p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.caracteristicas{
    background-color: rgba(24, 37, 213, 0.588);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    margin-top: 20px;
}
.caracteristicas h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.caracteristicas p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family:monospace;
    text-wrap: wrap;
}
.line {
    border: 0.5px rgb(0, 0, 0) solid;
    width: 98%;
    margin-bottom: 20px;
}
.descripcion-concierto{
    background-color: rgba(183, 182, 168, 0.329);
    border-radius: 20px;
    margin-top: 20px;
}

.descripcion-concierto h3{
    
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.descripcion-concierto p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*---------------------------------------
BOTTON ENTRADAS
-----------------------------------------*/
/* From Uiverse.io by Naveen-Raaj */ 
/* From Uiverse.io by cssbuttons-io */ 
.fancy {
    background-color: rgb(184, 214, 243);
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}
.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
.comprar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}