ul, li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    display: block;
}
p {
    color: white;
}
small {
    color: white;
}
h1 {
    color: white;
}
.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center; 
    background-color: transparent;
    display: grid;
}
.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}
.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.top-navbar .elementos-header {
    align-items: center !important; 
    justify-content: space-between ;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
}
.nav-item {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    padding: 10px;
    color: white;
}
.nav-item-login {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    padding: 10px;
    color: white; 
    size: 20px;
}
.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
}
.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}
.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(0, 255, 13);
}
/*---------------------------------------
  IMAGEN              
-----------------------------------------*/
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imagen-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
/* para darle oscuridad a la foto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad y el color según tus necesidades */
    z-index: 1;
}
/*---------------------------------------
  SECCION 2
-----------------------------------------*/
.container-section2 {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px;
    background: #101114;
    color: white;
    height: 100vh;
    overflow: auto;
    flex-wrap: wrap;
    height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */


}
.clubbing-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    height: 300px;
    width: 90%; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.item{
    flex: 1 1 calc(33.33% -20px);
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    flex-direction: column;
    display: flexbox;
    height: auto;
    width: 200px;

}
.section2-tittle{
    width: 100%;
}
.img-clubbing {
    width: 100%;
    height:auto ;
    overflow: hidden;
}
.img-clubbing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    padding: 15px;
    position: relative;
    background-color: rgb(8, 21, 105);
    text-align: center;
}
.link{
    text-decoration: none;
    color: inherit;
}

/*---------------------------------------
  SECCION 3
-----------------------------------------*/
.container-section3 {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px;
    color: rgb(255, 255, 255);
    height: 100vh;
    border: yellow 2px solid;
    overflow: auto;
    background-color: orange;
    scroll-margin-top: 76px;
    flex-wrap: wrap;
    min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */
}
/*---------------------------------------
  SECCION 4
-----------------------------------------*/
.container-section4 {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px;
    color: rgb(255, 255, 255);
    background: url(../img/event1.png) center no-repeat ;
    background-size: cover;
    height: 100vh;
    border: rgb(92, 36, 244) 2px solid;
    overflow: hidden;
    scroll-margin-top: 76px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 120vh; /* Asegura que la sección tenga al menos la altura de la ventana */
}
.container-eventos{
    margin-top: 30px;
    background: #281f90;
    border-radius: 20px;
    width:650px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-element{
    display: flex;
    gap: 1px;
    margin: 0 auto;
    width: 50%;
    padding: 3px;
}
.form-tittle{
    size: 24px;
    color:black;
    background-color: #1f4590;
    width: 80%;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}
/*---------------------------------------
  FOOTER
-----------------------------------------*/
.site-footer{
    border: 2px black solid;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.site-footer-top{
    margin-top: 0;
    background-color: #2805b3;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:0 20px;
    top: 0;
    min-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}
.site-footer h2{
    margin: 0;
}
.social-icon
{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}
.social-icon-item{
    display: inline-block;
}
.social-icon-link{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    
}
.social-icon-link:hover{
    background-color: #02030a;
}
.social-icon ul{
    list-style: none;
    align-items: center;
}
.social-icon-link span {
    display: block;
  }
.row2{
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
    display: flexbox;
    height: 40vh;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}
.col{
    flex: 1;
    min-width: 280px;
}
.site-footer-links{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: 0px;
}
.site-footer-title{
    font-size: 25px;
    color: rgb(15, 67, 179);
}
.site-footer-link-item{
    color: rgb(224, 16, 16);
    margin-left: 0px;
}
.site-footer-bottom{
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 0;
}
.site-footer-link:hover {
    text-decoration: underline;
}
.site-footer-link {
    text-decoration: none;
    color: white;
}
.site-footer-link-item {
    margin-bottom: 5px;
}
.line{
    border: 0.1px rgb(29, 27, 27) solid;
    width: 98%;


}