ul, li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    display: block;
}
p {
    color: white;
}
small {
    color: white;
}
h1 {
    color: white;
}
.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center; 
    background-color: transparent;
    display: grid;
}
.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}
.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.top-navbar .elementos-header {
    align-items: center !important; 
    justify-content: space-between ;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
}
.nav-item {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    padding: 10px;
    color: white;
}
.nav-item-login {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    padding: 10px;
    color: white; 
    size: 20px;
}
.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
}
.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}
.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(0, 255, 13);
}
/*---------------------------------------
  IMAGEN              
-----------------------------------------*/
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imagen-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
/* para darle oscuridad a la foto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad y el color según tus necesidades */
    z-index: 1;
}
/*---------------------------------------
  SECCION 2
-----------------------------------------*/
.container-section2 {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px;
    background: #1c1d21;
    color: white;
    height: 100vh;
    border: yellow 2px solid;
    overflow: auto;
    flex-wrap: wrap;
    height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */


}
.clubbing-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    height: 300px;
    width: 90%; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.item{
    flex: 1 1 calc(33.33% -20px);
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
    flex-direction: column;
    display: flexbox;
    height: auto;
    width: 200px;

}
.section2-tittle{
    width: 100%;
}
.img-clubbing {
    width: 100%;
    height:auto ;
    overflow: hidden;
}
.img-clubbing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    padding: 15px;
    position: relative;
    background-color: rgb(8, 21, 105);
    text-align: center;
}
.link{
    text-decoration: none;
    color: inherit;
}

/*---------------------------------------
  SECCION 3
-----------------------------------------*/
.container-section3 {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding: 20px;
    background: #023f93;
    color: rgb(255, 255, 255);
    height: 100vh;
    border: yellow 2px solid;
    overflow: auto;
    scroll-margin-top: 76px;
    flex-wrap: wrap;
    min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */
}
