ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

p {
    color: white;
}

small {
    color: white;
}

h1 {
    color: white;
}

.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center;
    background-color: transparent;
    display: grid;
}

.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.top-navbar .elementos-header {
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
}

.nav-item {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 10px;
    color: white;
}

.nav-item-login {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 10px;
    color: white;
    size: 20px;
}

.nav-item-login .btn svg {
    fill: white !important;
}

.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
}

.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}

.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(0, 255, 13);
}

/*---------------------------------------
  IMAGEN              
-----------------------------------------*/
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagen-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

/* para darle oscuridad a la foto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Ajusta la opacidad y el color según tus necesidades */
    z-index: 1;
}

/*---------------------------------------
  SECCION 2
-----------------------------------------*/
.container-section2 {
    display: flex;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda */
    align-items: flex-start;
    /* Alinea el contenido en la parte superior */
    padding: 20px;
    background: #000000;
    color: white;
    overflow: auto;
    flex-wrap: wrap;
    min-height: 120vh;
    /* Asegura que la sección tenga al menos la altura de la ventana */
    height: auto;
}

.clubbing-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.item {
    flex: 1 1 calc(33.33% -20px);
    overflow: hidden;
    border-radius: 8px;
    margin: auto;
    flex-direction: column;
    display: flexbox;
    height: auto;
    width: 250px;
    margin-bottom: 20px;
    border: #302e2e 2px solid;
}

.section2-tittle {
    width: 100%;
}

.img-clubbing {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-clubbing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    padding: 15px;
    position: relative;
    background-color: rgb(6, 17, 89);
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

/*---------------------------------------
  SECCION 3
-----------------------------------------*/
.container-section3 {
    display: flex;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda */
    align-items: flex-start;
    /* Alinea el contenido en la parte superior */
    padding: 20px;
    color: rgb(255, 255, 255);
    overflow: clip;
    background-color: rgb(255, 255, 255);
    scroll-margin-top: 76px;
    flex-wrap: wrap;
    min-height: auto;
    /* Asegura que la sección tenga al menos la altura de la ventana */
}

.cocniertos-tittle {
    color: rgb(40, 136, 255);
    font-size: 30px;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-content:hover img {
    transform: scale(1.05);
}

.conciertos-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;

}

.portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    color: #000000;
}

.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {

    position: absolute;
    left: calc(50% - 40px);
    font-size: 26px;
    top: calc(50% - 14px);
    color: #000000;
    transition: 0.3s;
    line-height: 1.2;
}

.cocniertos-disponibles {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15;
    margin-right: -15;
    margin-bottom: 1.5rem;
    /* 1.5rem es equivalente a 24px */
    justify-content: space-between;
    padding: 0 15px;
    background-color: #b0a0a0;
    border-radius: 20px;
    width: 90%;
    margin-left: 60px;
    min-height: auto;
}

/* Estilos específicos para los elementos del portafolio */
.portfolio-item {
    margin-bottom: 30px;
    position: relative;
}

.portfolio-content {
    height: 100%;
    position: relative;
    margin-top: 10px;

}

/* Estilos para la imagen */
.img-fluid {
    width: 330px;
    height: 330px;
    border-radius: 10px;
}

.portfolio-info {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    opacity: 0;
    /* Inicialmente oculto */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* Para que coincida con las esquinas redondeadas de la imagen */
    transition: opacity 0.3s ease-in-out;
    /* Transición suave */
}

.portfolio-content:hover .portfolio-info {
    opacity: 1;
}

.glightbox {
    font-size: 25px;
}

.details-link {
    color: #ffffff;
    margin: 0 5px;
    font-size: 25px;
}

/* Estilos para los enlaces */
.preview-link,
.details-link {
    color: #fff;
    margin: 0 5px;
}

/*---------------------------------------
  SECCION 4
-----------------------------------------*/
.container-section4 {
    display: flex;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda */
    align-items: flex-start;
    /* Alinea el contenido en la parte superior */
    padding: 20px;
    color: rgb(255, 255, 255);
    background: url(../img/event1.png) center no-repeat;
    background-size: cover;
    height: 120vh;
    overflow: hidden;
    scroll-margin-top: 76px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 130vh;
    /* Asegura que la sección tenga al menos la altura de la ventana */
}

.container-eventos {
    margin-top: 30px;
    background: #3862eb;
    display: flexbox;
    border-radius: 30px;
    width: 580px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-element {
    display: flex;
    gap: 1px;
    margin: 0 auto;
    width: 50%;
    padding: 3px;
}

.form-tittle {
    size: 24px;
    color: black;
    background-color: #3975ec;
    width: 80%;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.cuestiones {
    display: flex;
    flex-direction: column;
    /* Alinea los elementos en columna */
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    padding: 10px;
    margin: 10px 0;
    flex: 1;
    width: 100%;
    height: 100%;
}

.all-include-text {
    border-radius: 20px;
    border: none;
    height: 60%;
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
}

.cuestiones .pregunta {
    margin-bottom: 10px;
    /* Espacio entre la pregunta y los checkboxes */
    font-weight: bold;
    margin-left: 20px;

}

.checkbox-group {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Dos columnas de igual tamaño */
}

.checkbox-group label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-bttn[type="submit"] {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 300px;
    background-color: #36c5db;
    border: none;
    font-size: 20px;
    font-weight: medium;
    transition: all 0.3s;
}

.form-bttn:hover,
.form-bttn:focus {
    background: #01244e;
    border-color: transparent;
    color: #fff;
}

/*---------------------------------------
  FOOTER
-----------------------------------------*/
.site-footer {
    border: 2px black solid;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.site-footer-top {
    margin-top: 0;
    background-color: #2805b3;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    top: 0;
    min-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.site-footer h2 {
    margin: 0;
}

.social-icon {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icon-item {
    display: inline-block;
}

.social-icon-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;

}

.social-icon-link:hover {
    background-color: #02030a;
}

.social-icon ul {
    list-style: none;
    align-items: center;
}

.social-icon-link span {
    display: block;
}

.row2 {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
    display: flexbox;
    height: 40vh;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}

.col {
    flex: 1;
    min-width: 280px;
}

.site-footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: 0px;
}

.site-footer-title {
    font-size: 25px;
    color: rgb(15, 67, 179);
}

.site-footer-link-item {
    color: rgb(224, 16, 16);
    margin-left: 0px;
}

.site-footer-bottom {
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 0;
}

.site-footer-link:hover {
    text-decoration: underline;
}

.site-footer-link {
    text-decoration: none;
    color: white;
}

.site-footer-link-item {
    margin-bottom: 5px;
}

.line {
    border: 0.1px rgb(29, 27, 27) solid;
    width: 98%;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*---------------------------------------
    css para el formulario
-----------------------------------------*/
/* Hace el fondo del modal translúcido */
.modal-content {
    background: transparent;
    backdrop-filter: blur(12px);
    color: white;
    min-height: 500px;
}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
    display: none !important;
}


.modal-header {
    background: rgba(8, 101, 200, 0.9);
    color: white;
}

.btn-login {
    background-color: rgba(8, 101, 200, 0.7);
    border-color: rgba(8, 101, 200, 0.7);
    color: white;
}

.btn-login:hover {
    background-color: rgba(2, 61, 127, 0.9);
    border-color: rgba(2, 61, 127, 0.9);
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
}


.form-label {
    color: white;
}