html, body {
    height: 100%;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

router-outlet {
    flex: 1; /* Esto asegura que el contenido ocupe el espacio restante */
}

app-footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
}
.modal{
    background: transparent;

}
.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
}
  
@keyframes spinner-border {
    to { transform: rotate(360deg); }
}