<section class="header">
  <video class="video" type="video/mp4" src="/new/assets/videos/VIDEO-PARA-WEB_sin-musica.mp4" autoplay loop muted>
    <source src="/assets/videos/VIDEO-PARA-WEB_sin-musica.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="top-site-bar">
    <ul>
      <!-- Mostrar todos los items -->
      <li *ngFor="let item of items">
        <a [href]="item.link"  rel="noopener noreferrer">
          {{ item.name }}
        </a>
      </li>
      <!-- Mostrar nombre de usuario y opciones si está autenticado -->
      <li *ngIf="isAuthenticated" class="user-menu">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" (click)="goToProfile($event)">
            {{ userName }}
          </a>
          <div class="dropdown-content">
            <a href="#" (click)="goToProfile($event)">Perfil</a>
            <a href="#" (click)="logout($event)">Cerrar sesión</a>
          </div>
        </div>
      </li>
      <!-- Mostrar Login si no está autenticado -->
      <li *ngIf="!isAuthenticated">
        <a href="#" (click)="openLoginModal($event)">Login</a>
      </li>
    </ul>
  </div>
  <div class="container-titulo">
    <div class="texto-principal">
      <h1>TEATRO DAW</h1>
      <hr class="line-title" href="#" />
      <p>El mejor lugar para disfrutar de la buena música y noche madrileña</p>
    </div>
  </div>
</section>