<app-header></app-header>
<section class="principal">
    <div class="clubbing-container">
        <div class="title">
            <h2>Clubbing</h2>
            <hr class="line-title" />
            <p>La mejor fiesta de la noche madrileña, en pleno centro!</p>
        </div>
        @if (loading) {
          <div class="loading-spinner">
            Cargando Eventos...
          </div>
        } @else {
          <div class="party-container">
            @for (party of parties; track party.id) {
              <div class="party">
                <img [src]="'data:image/jpeg;base64,' + party.image" [alt]="party.title" class="img">
                <div class="party-desc">
                  <h3>{{party.title}}</h3>
                  <p>{{party.description.split('|')[0]}}</p>
                </div>
                <div class="party-button">
                  <a [routerLink]="['/events', party.id]" class="btn btn-primary">Comprar Entrada</a>
                </div>
              </div>
            }
          </div>
        }  
    </div>
    

    <div class="concert-container">
          <div class="title">
              <h2>Conciertos</h2>
              <hr class="line-title" />
              <p>Los mejores conciertos de la ciudad, en un solo lugar!</p>
          </div>
        <div class="concerts">
                <div class="filter">
                  @for (type of concerTypes; track $index) {
                    <ul>
                      <li class="filter-item" >
                        <span>{{type}}</span>
                      </li>
                    </ul>
                  }
                </div>
                    <div class="concert-content">
                      <div class="available-concerts">
                          <img src="assets/img/cruzcafune.jpg" alt="Concert Image">
                          <div class="concert-info">
                              <a href="#">CRUZ CAFUNE</a>
                              <a href="#">MORE DETAILS (icono enlace)</a>
                          </div>
                      </div>
                      <div class="available-concerts">
                        <img src="assets/img/cruzcafune.jpg" alt="Concert Image">
                        <div class="concert-info">
                            <a href="#">CRUZ CAFUNE</a>
                            <a href="#">MORE DETAILS (icono enlace)</a>
                        </div>
                    </div>
                    <div class="available-concerts">
                      <img src="assets/img/cruzcafune.jpg" alt="Concert Image">
                      <div class="concert-info">
                          <a href="#">CRUZ CAFUNE</a>
                          <a href="#">MORE DETAILS (icono enlace)</a>
                      </div>
                  </div>
                  <div class="available-concerts">
                    <img src="assets/img/cruzcafune.jpg" alt="Concert Image">
                    <div class="concert-info">
                        <a href="#">CRUZ CAFUNE</a>
                        <a href="#">MORE DETAILS (icono enlace)</a>
                    </div>
                </div> 
              </div>
        </div>
        <a href="#" class="load-more">
            Cargar más
          <span class="loading"></span>
        </a>
    </div>

    <div class="event-container">
      <div class="title">
          <h2>Eventos Corporativos</h2>
          <hr class="line-title" />
          <p>El mejor espacio para celebrar tu evento</p>
      </div>
      <div class="container-eventos">
          <div class="event-form">
              <form class="form" action="/reserva/request" method="post" id="reservaForm">
                  <p class="title2">Solicitar un evento </p>
                  <p class="message">Rellena el formulario y solicita un presupuesto para tu evento </p>
                  <div class="flex">
                      <label>
                          <input name="userName" class="input" type="text" placeholder="" required="">
                          <span>Nombre</span>
                      </label>
                  </div>
                  
                  <label>
                      <input name="userEmail" class="input" type="email" placeholder="" required="">
                      <span>Email</span>
                  </label>

                  <label>
                      <input name="bussinesName" class="input" type="text" placeholder="" required="">
                      <span>Nombre de la empresa</span>
                  </label>
                  <label>
                      <input name="num_personas" class="input" type="number" placeholder="" required="">
                      <span>Numero de Personas</span>
                  </label>
                  <label for="">
                      <input type="date" name="event_date" id="fecha_incio" class="date">
                      <span>Fecha de inicio</span>
                  </label>
                  <label>
                      <div class="form-group">
                          <span>Descripcion del evento y peticiones especiales</span>
                          <p>

                          </p>
                          <textarea name="eventDescript" id="evento" class="form-control" rows="4"
                              placeholder="Indica el tipo de evento que deseas y peticiones especiales"
                              required></textarea>
                      </div>
                  </label>
                  <button class="submit">Solicitar Presupuesto</button>
                  <p class="signin"> ¿Tienes alguna pregunta? <a href="#">Contactanos</a> </p>
                  <input type="hidden" name="_csrf" >
            </form>
          </div>
      </div>
  </div>
     
</section>