<app-header></app-header>
<section class="principal">
    <div class="clubbing-container">
        <div class="title">
            <h2>Clubbing</h2>
            <hr class="line-title" />
            <p>La mejor fiesta de la noche madrileña, en pleno centro!</p>
        </div>
        <div class="party-container">
          <div class="party">
            <div class="party-img">
              <img src="assets/img/ochoymedio.jpg" alt="Party 1" />
            </div>
            <div class="party-desc">
              <h3>Ocho&Medio</h3>
              <p>La mejor Musica Indie de la Ciudad</p>
            </div>
            <div class="party-button">
              <button class="btn btn-primary">Comprar Entrada</button>
            </div>
          </div>
        </div>
    </div>
    <div class="concert-container">
        <!-- Contenido adicional -->
    </div>
    <div class="event-container">
        <!-- Contenido adicional -->
    </div>
</section>