.principal {
    margin: 0px; /* Asegura que el contenido no se superponga con el header */
    overflow: visible; /* Permite que el contenido fluya normalmente */
    height: auto; /* Elimina la altura fija */
    padding-top: 1px;
    padding: 0px;
}

.clubbing-container {
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title{
    background-color: rgb(12, 12, 12);
    margin: 0;
    padding: 10;
}
.title h2 {
    font-size: 36px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.title p{
    font-size: 25px;
    color: #f2f526;
    font-family: "Poppins", sans-serif;
}
.line-title {
    width: 70px;
    border: 5px solid #f2f526;
    margin: 10px auto;
}
.party-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    min-height: 100vh;
    background-color: rgb(12, 12, 12);}
.party{
    display: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2f2e2e;
    border-radius: 20px;
    color: white;
}
.party:hover{
    width: 405px;
    height: 590px;
}
.party-button{
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.btn{
    background-color: #f2f526;
    color: black;
    height: 60px;
    width: 100px;
    border-radius: 15%;
}
.btn:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
    height: 61px;
    width: 110px;
}
.img{
    border-radius: 10px;
    height: 80px;
    margin-top: 20px;
    width: 90%;
    height: 50%;
}
/* ------------CONCERT CSS ------------------ */
.concert-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 100vh;
    background-color: rgb(12, 12, 12);
    text-align: center;
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
    background-color: #f2f526e5;
    color: black;
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: fit-content;
    list-style: none;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    max-height: 50px;
}
.filter span{
    color: Black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.filter span:hover{
    color: #989898e5;
    text-decoration:solid;
}
.filter ul{
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.filter li{
    margin-right: 25px;
}
.concert-content {
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una fila */
    gap: 20px; /* Espaciado entre los elementos */
    padding: 5px; /* Espaciado interno opcional */
    background-color: #f2f526e5;
    border-radius: 20px;
    margin: 0 auto; /* Centra el contenedor */
}
.concert-content img{
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 20px;
    max-width: 300px; /* Ancho máximo para evitar que se estire demasiado */
    max-height: 300px; /* Altura máxima para evitar que se estire demasiado */
}
.available-concerts{
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una fila */
    gap: 20px; /* Espaciado entre los elementos */
}
.concert-info{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    opacity: 0;
    /* Inicialmente oculto */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    /* Para que coincida con las esquinas redondeadas de la imagen */
    transition: opacity 0.3s ease-in-out;
    /* Transición suave */
    border: 2px red solid;
    z-index: 11111;
}
.available-concerts:hover .concert-info{
    opacity: 1;
}