<div class="modal-header">
  <h3 class="modal-title">Añadir comentario</h3>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="submitComment()">
    <div class="mb-3">
      <label for="rate" class="form-label">Valoración</label>
      <select class="form-select" [(ngModel)]="rate" name="rate" required>
        <option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }} Estrella(s)</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="comentario" class="form-label">Comentario</label>
      <textarea class="form-control" [(ngModel)]="comentario" name="comentario" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publicar</button>
  </form>
</div>