ul {
    list-style-type: none;
    padding: 0;
    padding: 5px;
    margin-right: 20px;
}
li {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    text-decoration-line: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.top-site-bar {
    background-color:transparent;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    text-align: right;
    position: relative; /* Necesario para el posicionamiento absoluto del video */  
    z-index: 1001; /* Asegura que esté por encima del video */
}
.top-site-bar a:hover {
    color: #f2f526;
    transition: color 0.3s ease;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    height: 95vh;
    object-fit: cover; /* Asegura que el video cubra todo el espacio */
    z-index: -1; /* Coloca el video detrás del contenido */
}
.header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 95vh;
    overflow: hidden;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding:  0; /* Espaciado interno */
    margin: 0; /* Elimina el margen */
}
.container-titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}
.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}
.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.texto-principal p{
    color: white;
    font-size: 20px;
}
.line-title {
    width: 100%;
    border: 5px#f2f526 solid;
    background-color: #f2f526;
    width: 70px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 5px;
}