<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubbing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/clubbing-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.css">
</head>

<body>
    
    <!-- Modal de login-->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titulo-login">Iniciar sesión</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 ">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña">
                        </div>
                        <div class="d-flex align-items-center margenGrande">
                            <button type="submit" class="btn btn-login me-2">Confirmar</button>
                            <p>
                                <a href="#" class="switch-modal" data-bs-toggle="modal" data-bs-target="#modalSingUp">
                                    <span style="color: white;">
                                        Si aún no tienes cuenta,
                                    </span>
                                    Regístrate aquí
                                </a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de login-->

    <!-- Modal de sing up-->
    <div class="modal fade" id="modalSingUp" tabindex="-1" aria-labelledby="modalSingUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titulo-singup">Registrarse</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
                            <input type="password" class="form-control" id="contraseña">
                        </div>
                        <input type="checkbox" id="terminos" name="terminos" value="terminos" required> Acepto los
                        terminos y condiciones
                        <br>
                        <input type="checkbox" id="datos" name="datos" value="datos"> Permito el uso de mis datos
                        personales para las estadisticas
                        <p><button type="submit" class="btn btn-login">Confirmar</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de sing up-->
    <section class="header">
        <video autoplay loop muted playsinline id="bg-video">
            <source src="/videos/video-clubbing.mp4" type="video/mp4">
            Tu navegador no soporta el video en HTML5.
        </video>
        <div class="container1">
            <div class="header-title">
                <a href="index.html"><span>TEATRO DAW</span></a>
            </div>
            <div class="navmenu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="clubing.html">Clubing</a></li>
                    <li><a href="clubing.html">Conciertos</a></li>
                    <li><a href="index.html">Eventos</a></li>
                    <li><a href="index.html">Contactanos</a></li>
                    {{#isUserLogged}}
                    <li class="nav-item">
                        <a class="top-nav-section_5" href="/perfil">
                            {{userLogged.name}}
                        </a>
                    </li>
                    {{/isUserLogged}}

                    {{^isUserLogged}}
                    <li>
                        <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </li>
                    {{/isUserLogged}}


                </ul>
            </div>
        </div>
    </section>
    <!-- HEADER -->
    <section class="section2">
        <div class="container2">
            <div class="container3">
                <div class="fecha">
                    <span> 15 </span>
                    <p>FEB</p>
                </div>
                <div class="descripcion">
                    <h1>{{event.title}} EN EL TEATRO DAW | 14.02.2025</h1>
                    <p>LOS MEJORES DJs DE LA CAPITAL</p>
                    <small>COMPRA YA TU ENTRADA O RESERVA TU MESA!</samll>
                </div>
            </div>
           
            <div class="fotoFiesta-Container">
                <img src="/imgEvent/{{event.id}}" alt="Fiesta">
            </div>
            <div class="btn-entrad">
                <a class="btn" href="#" onclick="document.getElementById('buyTicketForm').submit();">Comprar Entrada</a>

                <form id="buyTicketForm" action="/tickets/buyTicket" method="POST" style="display: none;">
                    <input type="hidden" name="ticketName" value="Nombre del ticket">
                    <input type="hidden" name="dni" value="12345678X">
                    <input type="hidden" name="gender" value="M">
                    <input type="hidden" name="eventName" value="{{event.title}}">
                    <input type="hidden" name="category" value="party">
                    <input type="hidden"  name="_csrf" value="{{token}}">
                </form>
            </div>
            <div class="container3">
                <div class="icono-detalle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="detalles-evento">
                    <h2>Detalles del Evento</h2>
                    <p>{{descLinea1}}</p>
                    <hr>{{descLinea2}}
                    <hr>
                </div>
            </div>
            
            <div class="container4">
                <div class="fecha-hora">
                    <div class="time-icon">
                        <ion-icon name="time-outline"></ion-icon>
                    </div>
                    <div class="time-info">
                        <p>(Viernes y Sabado) 00:00-06:00</p>
                    </div>
                </div>
                <div class="ubicacion">
                    <div class="ubicacion-icon">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <div class="ubicacion-info">
                        <p>Teatro DAW, </p>
                        <p>Calle del arenal 9, Madrid</p>
                    </div>
            </div>
            </div>
            <div class="container5">
                <div class="horario-reserva">
                    <div class="reserva-icon">
                        <ion-icon name="phone-portrait-sharp"></ion-icon>
                    </div>
                    <div class="reserva-info">
                        <h1>HORARIO DE RESERVAS</h1>
                        <p>LUNES a SÁBADO: 14:00 – 05:00 h.</p>
                        <p>DOMINGO: Cerrado.</p>
                        <p>Vísperas de Festivo: Horario de Sábado</p>
                        <p>TELÉFONO DE RESERVAS:</p>
                        <h3>+34 000 111 222</h3>
                    </div>
                </div>
            </div>

            <div class="container6">
                <canvas id="genderChart" width="600" height="600"></canvas>
            </div>
            <div class="btn-entrad">
                <a class="btn" href="#" onclick="document.getElementById('buyTicketForm').submit();"
                    data-bs-toggle="modal" data-bs-target="#modalCompra">
                    Comprar Entrada
                </a>
            </div>
        </div>
    </section>
    <p id="separador"></p>
    {{>footer}}

    <!-- Modal de compra -->
    <div class="modal fade" id="modalCompra" tabindex="-1" aria-labelledby="modalCompraLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Datos para la Entrada</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form action="/tickets/buyTicket" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" name="ticketName" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">DNI</label>
                            <input type="text" class="form-control" name="dni" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Género</label>
                            <select class="form-select" name="gender">
                                <option value="Hombre">Hombre</option>
                                <option value="Mujer">Mujer</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <input type="hidden" name="eventName" value="{{event.title}}">
                        <input type="hidden" name="category" value="{{event.category}}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Terminar compra </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal de compra -->
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('genderChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Hombre', 'Mujer'],
                    datasets: [{
                        
                        data: [{{ maleCount }}, {{ femaleCount }}],
                backgroundColor: [
                    '#f2f526', 
                    'black'  
                ],
                borderColor: [
                    '#f2f526',
                    'black'
                ],
                borderWidth: 1
            }]
          },
            options: {
            responsive: true,
            maintainAspectRatio: false, // Allow the chart to fill the canvas
            plugins: {
                legend: {
                    position: 'bottom',
                },
                title: {
                    display: true,
                    text: 'Distribucion por genero'
                }
            }
        }
      });
        });
    </script>

    <!-- JAVASCRIPT FILES -->

    <!-- Incluye jQuery (necesario para Isotope) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye el JS de Isotope -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/custom.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>