<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUESTROS CONCIERTOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/concierto-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.css">
</head>

<body>
    <nav class="top-navbar">
        <div class="container-topnav">
            <ul class="elementos-header align-items-lg-center ms-auto me-lg-5" id="elementos-cabecera">
                <li class="nav-item">
                    <a class="top-nav-section_1" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-section_2" href="/">Clubbing</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-section_3" href="/">Conciertos</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-section_4" href="/">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-section_5" href="/">Contactanos</a>
                </li>
                {{#isUserLogged}}
                <li class="nav-item">
                    <a class="top-nav-section_5" href="/perfil">
                        {{userLogged.name}}
                    </a>
                </li>
                {{/isUserLogged}}

                {{^isUserLogged}}
                <li class="nav-item-login">
                    <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="20" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                </li>
                {{/isUserLogged}}
            </ul>
        </div>
    </nav>

    <!-- Modal de login-->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titulo-login">Iniciar sesión</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/users/authenticate" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="emailLogin" name="emailLogin"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 ">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="passwordLogin" name="passwordLogin">
                        </div>
                        <div class="d-flex align-items-center margenGrande">
                            <button type="submit" class="btn btn-login me-2" id="submitLogin">Confirmar</button>
                            <p>
                                <a href="#" class="switch-modal" data-bs-toggle="modal" data-bs-target="#modalSingUp">
                                    <span style="color: white;">
                                        Si aún no tienes cuenta,
                                    </span>
                                    Regístrate aquí
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de login-->

    <!-- Modal de sing up-->
    <div class="modal fade" id="modalSingUp" tabindex="-1" aria-labelledby="modalSingUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titulo-singup">Registrarse</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/users/create" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <input type="checkbox" id="terminos" name="terminos" value="terminos" required> Acepto los
                        terminos y condiciones
                        <br>
                        <input type="checkbox" id="datos" name="datos" value="datos"> Permito el uso de mis datos
                        personales para las estadisticas
                        <p><button type="submit" class="btn btn-login" id="submitBtn">Confirmar</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de sing up-->

    <section class="section-1" id="section_1">
        <div class="container-section1">
            <div class="row">

                <div class="texto-principal">
                    <h1>CONCIERTOS</h1>
                    <hr class="line-title" href="">
                    </hr>
                    <p>Los mejores conciertos de la mano de nuestra sala, para vivir una experiencia completa!</p>

                </div>
            </div>
        </div>
        <div class="img">
            <video autoplay muted loop id="bg-video">
                <source src="/videos/CONCERT.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlay"></div>

        </div>
    </section>

    <!--DETALLES CONCIERTO-->
    <section class="section-2">
        <div class="container-section2">
            <div class="container-concert-fields">
                <div class="field field--name">
                    <h1>{{event.title}}</h1>
                </div>
                <div class="field field--subtitle">
                    <span>Concierto</span>
                </div>
                <div class="field field--info">
                    <div class="field field--infoizq">
                        <div class="field field--date">
                            <div class="label1">
                                Fecha
                            </div>
                            <div class="content1">
                                <p>10 de Diciembre 2025</p>
                            </div>
                        </div>
                        <div class="field field--price">
                            <div class="label1">
                                Precio
                            </div>
                            <div class="content1">
                                <p>20€. Requiere ser mayor de edad para
                                    acceder al recinto</p>
                            </div>
                        </div>
                        <div class="field field--type">
                            <div class="label1">
                                Tipo
                            </div>
                            <div class="btn-change82">
                                <div class="content1">
                                    {{event.type}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-change8" data-bs-toggle="modal" data-bs-target="#modalCompra" style="cursor: pointer;">
                    <div class="buytickets">
                        COMPRAR ENTRADAS
                    </div>
                </div>



            </div>
            <div class="container-concert-img">
                <div class="container-concert-description">
                    <p>{{event.description}}</p>
                </div>
                <img class="imgconcert" src="/imgEvent/{{event.id}}" alt="concierto1">

            </div>

            <!-- Modal de compra -->
            <div class="modal fade" id="modalCompra" tabindex="-1" aria-labelledby="modalCompraLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Datos para la Entrada</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <form action="/tickets/buyTicket" method="post">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Nombre completo</label>
                                    <input type="text" class="form-control" name="ticketName" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">DNI</label>
                                    <input type="text" class="form-control" name="dni" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Género</label>
                                    <select class="form-select" name="gender">
                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                                <input type="hidden" name="eventName" value="{{event.title}}">
                                <input type="hidden" name="category" value="{{event.category}}">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Terminar compra</button>
                                <input type="hidden"  name="_csrf" value="{{token}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Fin Modal de compra -->
    </section>
    <!-- FIN DETALLES CONCIERTO -->

    <!-- SECCION 3 : COMENTARIOS -->
    <section class="section_3">
        <div class="container-section3">
            <div class="comments-title">
                <h1>Comentarios</h1>
            </div>
            <div class="container-btn-comment">
                <button class="btn-change8 btn-comentario" type="button" data-bs-toggle="modal"
                    data-bs-target="#modalComentario">Añadir comentario</button>
            </div>

            <div class="container-comments">
                {{#coments}}
                <div class="comment-post">
                    <div class="comment-post_user">
                        {{username}}
                    </div>
                    <div class="comment-post_content">
                        <p>{{comentario}}</p>
                    </div>
                    <div class="comment-post_valoration">
                        <p>{{rate}}</p>
                    </div>
                </div>
                {{/coments}}
            </div>


        </div>
    </section>

    <!-- MODAL COMENTARIO -->

    <div class="modal fade" id="modalComentario" tabindex="-1" aria-labelledby="modalComentario" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="titulo-comment">Añadir comentario</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/coments/create" method="post">
                        <input type="hidden" name="id" value="{{event.id}}">
                        <div class="mb-2">
                            <div class="star-rating animated-stars">
                                <input type="radio" id="star5" name="rate" value="5">
                                <label for="star5" class="bi bi-star-fill"></label>
                                <input type="radio" id="star4" name="rate" value="4">
                                <label for="star4" class="bi bi-star-fill"></label>
                                <input type="radio" id="star3" name="rate" value="3">
                                <label for="star3" class="bi bi-star-fill"></label>
                                <input type="radio" id="star2" name="rate" value="2">
                                <label for="star2" class="bi bi-star-fill"></label>
                                <input type="radio" id="star1" name="rate" value="1">
                                <label for="star1" class="bi bi-star-fill"></label>
                            </div>
                        </div>
                        <div class="mb-2 ">
                            <label for="inputComentario">Comentario</label>
                            <textarea class="form-control" id="inputComentario" name="coment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-publicar">Publicar</button>
                        <input type="hidden"  name="_csrf" value="{{token}}">

                    </form>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}


    <!-- JAVASCRIPT FILES -->
    <!-- Incluye jQuery (necesario para Isotope) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye el JS de Isotope -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/custom.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/validaciones.js"></script>
    <!-- Incluir el JS de AOS -->
</body>

</html>