<app-header></app-header>

<section class="principal" id="home">
    <!-- Sección Clubbing -->
    <div class="clubbing-container" id="clubbing">
        <div class="title">
            <h2>Clubbing</h2>
            <hr class="line-title" />
            <p>La mejor fiesta de la noche madrileña, en pleno centro!</p>
        </div>
        
        <div class="party-container">
            <div class="party" *ngFor="let party of parties">
                <img [src]="'data:image/jpeg;base64,' + party.imageBase64" [alt]="party.title" class="img">
                <div class="party-desc">
                    <h3>{{party.title}}</h3>
                    <p>{{party.description.split('|')[0]}}</p>
                </div>
                <div class="party-button">
                    <a [routerLink]="['/clubbing', party.id]" class="btn btn-primary">Comprar </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección Conciertos -->
    <div class="concert-container" >
        <div class="title" id="concerts">
            <h2>Conciertos</h2>
            <hr class="line-title" />
            <p>Los mejores conciertos de la ciudad, en un solo lugar!</p>
        </div>
        
        <div class="concerts">
            <div class="filter">
                <ul>
                    <li class="filter-item" *ngFor="let type of concertTypes">
                        <span (click)="filterConcerts(type)" [class.active]="selectedCategory === type">{{type}}</span>
                    </li>
                </ul>
            </div>
            
            <div class="concert-content">
                <div class="available-concerts" *ngFor="let concert of displayedConcerts">
                  <img [src]="'data:image/jpeg;base64,' + concert.imageBase64" [alt]="concert.title" class="img-fluid">
                  <div class="concert-info">
                    <a [routerLink]="['/concerts', concert.id]">{{concert.title}}</a> 
                    <a [routerLink]="['/concerts', concert.id]" fragment="inicio">MORE DETAILS</a>
                  </div>
                </div>
            </div>
            
            <a *ngIf="hasMoreConcerts" class="load-more" (click)="loadMoreConcerts()">
                Cargar más 
            </a>
            
        </div>
        <span class="loading"></span>
    </div>

    <!-- Sección Eventos Corporativos -->
    <div class="event-container" id="eventos">
        <div class="title">
            <h2>Eventos Corporativos</h2>
            <hr class="line-title" />
            <p>El mejor espacio para celebrar tu evento</p>
        </div>
        
        <div class="container-eventos">
            <div class="event-form">
                <form class="form" (ngSubmit)="submitBooking()" method="post" id="reservaForm">
                    <p class="title2">Solicitar un evento</p>
                    <p class="message">Rellena el formulario y solicita un presupuesto para tu evento</p>
                    <!-- Mensajes de feedback -->
                    <div *ngIf="bookingSuccess" class="alert alert-success">
                        ¡Reserva realizada con éxito!
                    </div>
                    <div *ngIf="bookingError" class="alert alert-danger">
                        {{bookingErrorMessage}}
                    </div>
                    
                    <div class="flex">
                        <label>
                            <input [(ngModel)]="userName" name="userName" class="input" type="text" placeholder="" required="">
                            <span>Nombre</span>
                        </label>
                    </div>

                    <label>
                        <input [(ngModel)]="userEmail" name="userEmail" class="input" type="email" placeholder="" required="">
                        <span>Email</span>
                    </label>

                    <label>
                        <input [(ngModel)]="bussinesName" name="bussinesName" class="input" type="text" placeholder="" required="">
                        <span>Nombre de la empresa</span>
                    </label>
                    
                    <label>
                        <input [(ngModel)]="num_personas" name="num_personas" class="input" type="number" placeholder="" required="">
                        <span>Numero de Personas</span>
                    </label>
                    
                    <label>
                        <input type="date" name="event_date" id="fecha_incio" class="date">
                        <span>Fecha de inicio</span>
                    </label>
                    
                    <label>
                        <div class="form-group">
                            <span>Descripcion del evento y peticiones especiales</span>
                            <p></p>
                            <textarea [(ngModel)]="eventDescript" name="eventDescript" id="evento" class="form-control" rows="4"
                                placeholder="Indica el tipo de evento que deseas y peticiones especiales"
                                required></textarea>
                        </div>
                    </label>
                    
                    <button class="submit">Solicitar Presupuesto</button>
                    <p class="signin">¿Tienes alguna pregunta? <a href="#">Contactanos</a></p>
                </form>
            </div>
        </div>
    </div>
</section>