@font-face {
    font-family: 'Skrappa-bold';
    src: url('/assets/fonts/SK.woff') format('woff');
    /* Usa ./ en lugar de .. */
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Sans Custom';
    src: url('/assets/fonts/Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.nav-item a {
    text-decoration: none;
    color: white;
    cursor: pointer; /* Asegura que el cursor sea un puntero */
}

/* TOP NAVBAR ..... */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}



section, div {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #d5e33e;
}

p {
    color: white;
}

small {
    color: white;
}

h1 {
    color: white;
}

.top-navbar {
    position: fixed;
    top: 0;
    right: 06px;
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center;
    background-color: transparent;
    display: grid;
}

.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.top-navbar .elementos-header {
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
    z-index: 3;
}

.nav-item {
    padding: 10px;
    color: white;
}

.nav-item-login {
    color: white;
}

.nav-item-login a:hover {
    color: #d5e33e;
}

.nav-item-login .btn svg {
    fill: white !important;
    min-width: 20px;
}

.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
    background-image: url("/assets/videos/CONCERT.mp4");
    background-size: cover;
    z-index: 2;
}

.row {
    margin-top: 80px;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.content-container {
    background-color: black;
    color: white;
    position: relative;
    z-index: 1; /* Asegura que el contenido esté encima del video */
}

@keyframes minimizeVideo {
    from {
        opacity: 100;
        height: 100vh;
    }

    to {
        opacity: 60%;
        height: 20px;
    }
}

/*#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10000; /* Asegura que el video esté detrás del contenido 
}*/

.line-title {
    width: 100%;
    border: 5px#d5e33e solid;
    background-color: #f2f526;
    width: 50px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 5px;

}

.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}

.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center;
    background-color: transparent;
    display: grid;
}


.top-navbar .elementos-header {
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
    z-index: 3;
}

.nav-item {
    padding: 10px;
    color: white;
}

.nav-item-login {
    color: white;
}

.nav-item-login a:hover {
    color: #d5e33e;
}

.nav-item-login .btn svg {
    fill: white !important;
    min-width: 20px;
}

.line-title {
    width: 100%;
    border: 5px#d5e33e solid;
    background-color: #f2f526;
    width: 50px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 5px;

}

.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}

.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

/*                   /* TOP NAVBAR ..... */



/*           SECCION 2 : CONCIERTO .... */

.container-section2 {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    overflow: hidden;

    min-height: calc(100vh - 92px);
    z-index: 2;
}

.container-concert-fields {
    width: 40%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    min-height: calc(100vh - 92px);
    z-index: 2;
}

.field.field--name h1 {
    font-family: 'Skrappa-bold', Helvetica, 'sans' !important;
    line-height: .50 !important;
    font-size: clamp(6.5rem, 2vw, 1.5rem);
    font-weight: 400 !important;
    overflow-wrap: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 70px !important;
}

.field.field--subtitle {
    margin-top: 20px;
    display: block;
    /* Asegura que "Concierto" no se solape */
    color: white;
    line-height: .9;
    font-size: 3.75rem;
    font-family: Skrappa-bold, Helvetica, sans;
}

.label1 {
    margin-top: 20px;
    display: block;
    font-size: .7em;
    text-transform: uppercase;
    font-family: Geomanist-medium, Helvetica, sans;
    font-weight: 400;
    color: yellow;
}

.content1 {
    font-family: Geomanist-regular, Helvetica, sans;
    font-size: 18px;
    line-height: 1.25;
    padding-right: 10px;
    margin-bottom: .6em;
}

.btn-change8 {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    background: rgb(255, 238, 0);
    float: left;
    border: 0px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 1px rgb(255, 247, 0);
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 rgb(201, 201, 1) inset;
}

.btn-change8:hover {
    -webkit-box-shadow: -1000px 0 0 rgb(255, 255, 255) inset;
    border: 2px solid black;
}

.btn-change82 {
    text-decoration: underline;
    background: rgb(0, 0, 0);
    width: auto;
    height: 20px;
    float: left;
    border: 0px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgb(185, 185, 185);
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 rgb(206, 206, 206) inset;
}

.btn-change82:hover {
    -webkit-box-shadow: -100px 0 0 rgb(255, 255, 255) inset;
    border: 2px solid black;
    color: black;
}

.buytickets {
    font-size: .875rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    font-weight: bold;
    font-family: Geomanist-regular, Helvetica, sans;
    height: auto;
    margin: 4px 0 0;
}

.container-concert-img {
    justify-content: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    min-height: calc(100vh - 92px);
    z-index: 2;
    width: 50%;
}

.imgconcert {
    height: 100%;
    width: 80%;
}

.container-concert-description {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 400;
    font-family: Calendas, times, serif;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
}

/*         FIN  SECCION 2 : CONCIERTO .... */


/*         SECCION 3 : COMENTARIOS .... */

.container-section3 {
    display: flex;
    flex-direction: column;
}

.container-btn-comment {
    margin-left: 50px;
}

.btn-comentario {
    width: fit-content;
    font-weight: bold;
}

.comments-title {
    text-decoration: underline;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 20px;
}

.container-comments {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    min-height: calc(100vh - 92px);
    z-index: 2;
    margin: 50px;
}

.comment-post {
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(75, 75, 75);
}

.comment-post_user {
    font-weight: bold;
}

/*---------------------------------------
    css para el formulario
-----------------------------------------*/
/* Hace el fondo del modal translúcido */
.modal-content {
    margin-top: 25px;
    background: transparent;
    backdrop-filter: blur(12px);
    color: white;
    min-height: 500px;
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0, 0.7);

}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: #f2f526 !important;
    display: none !important;
}


.modal-header {
    background: #f2f526;
    color: black;
    font-weight: 900;
}

.btn-login {
    background-color: #d5e33e;
    color: black;
}

.header {
    border: solid 5px yellow
}

.btn-login:hover {
    background-color: black;
    color: #d5e33e;
    border-color: #d5e33e;
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
    color: black;
    background: transparent;
}


.form-label {
    color: white;
}

.btn-publicar {
    background-color: #d5e33e;
    color: black;
    border-color: #d5e33e;
}

.btn-publicar:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0 2px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: #ffc107;
}

/*---------------------------------------
    FOOTER
-----------------------------------------*/
.site-footer {
    border: 2px black solid;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.site-footer-top {
    margin-top: 0;
    background-color: #f2f526;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    top: 0;
    min-height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    color: black;
}

.site-footer h2 {
    margin: 0;
}

.social-icon {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icon-item {
    display: inline-block;


}

.social-icon-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    color: black;

}

.social-icon-link:hover {
    background-color: #02030a;
    color: #d5e33e;
}

.social-icon ul {
    list-style: none;
    align-items: center;
}

.social-icon-link span {
    display: block;
}

.row2 {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
    display: flexbox;
    height: 40vh;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}

.col {
    flex: 1;
    min-width: 280px;
}

.site-footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: 0px;
}

.site-footer-title {
    font-size: 25px;
    color: #d5e33e;
}

.site-footer-link-item {
    color: rgb(224, 16, 16);
    margin-left: 0px;
}

.site-footer-bottom {
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 0;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 0;
}

.site-footer-link:hover {
    text-decoration: underline;
}

.site-footer-link {
    text-decoration: none;
    color: white;
}

.site-footer-link-item {
    margin-bottom: 5px;
}

.line {
    border: 0.1px rgb(29, 27, 27) solid;
    width: 98%;
    margin-bottom: 20px;
    margin-top: 30px;
}

h6 {
    color: #d5e33e;
}