/*---------------------------------------
    css para el formulario
-----------------------------------------*/
.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: #f2f526 !important;
    display: none !important;
}


.modal-header {
    background: #f2f526;
    color: black;
}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: #f2f526 !important;
    display: none !important;
}


.modal-header {
    background: #f2f526;
    color: black;
    font-weight: 900;
}

.btn-login {
    background-color: #d5e33e;
    color: black;
}

.header {
    border: solid 5px yellow
}

.btn-login:hover {
    background-color: black;
    color: #d5e33e;
    border-color: #d5e33e;
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
    color: black;
    background: transparent;
}


.form-label {
    color: white;
}

.nav-item {
    padding: 10px;
    color: white;
}

.nav-item-login {
    color: white;
}

.nav-item-login a:hover {
    color: #d5e33e;
}

.nav-item-login .btn svg {
    fill: white !important;
    min-width: 20px;
}

/* .modal-content-custom {
    background-color: transparent;
    border: none;
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(12px) !important;
} */