<app-header></app-header>

<section class="section2">
    <div class="container2">
        <div class="container3">
            <div class="fecha">
                <span> 15 </span>
                <p>FEB</p>
            </div>
            <div class="descripcion">
                <h1>OCHO&MEDIO EN EL TEATRO DAW | 14.02.2025</h1>
                <p>LOS MEJORES DJs DE LA CAPITAL</p>
                <small>COMPRA YA TU ENTRADA O RESERVA TU MESA!</small>
            </div>
        </div>

        <div class="fotoFiesta-Container">
            <img src="assets/img/ochoymedio.jpg" alt="Fiesta">
        </div>

        <div class="btn-entrad">
            <button class="btn" (click)="abrirModalCompra()">Comprar Entrada</button>
        </div>

        <div class="container3">
            <!-- <div class="icono-detalle">
                <ion-icon name="menu-outline"></ion-icon>
            </div> -->
            <div class="detalles-evento">
                <h2>Detalles del Evento</h2>
                <p>La mejor música indie de Madrid te espera cada viernes y sábado.</p>
                <hr>Vive el ambiente único de OCHOYMEDIO, donde la fiesta nunca termina.
                <hr>
            </div>
        </div>

        <div class="container4">
            <div class="fecha-hora">
                <!-- <div class="time-icon">
                    <ion-icon name="time-outline"></ion-icon>
                </div> -->
                <div class="time-info">
                    <p>(Viernes y Sabado) 00:00-06:00</p>
                </div>
            </div>
            <div class="ubicacion">
                <!-- <div class="ubicacion-icon">
                    <ion-icon name="location-outline"></ion-icon>
                </div> -->
                <div class="ubicacion-info">
                    <p>Teatro DAW, </p>
                    <p>Calle del arenal 9, Madrid</p>
                </div>
            </div>
        </div>
        <div class="container5">
            <div class="horario-reserva">
                <!-- <div class="reserva-icon">
                    <ion-icon name="phone-portrait-sharp"></ion-icon>
                </div> -->
                <div class="reserva-info">
                    <h1>HORARIO DE RESERVAS</h1>
                    <p>LUNES a SÁBADO: 14:00 – 05:00 h.</p>
                    <p>DOMINGO: Cerrado.</p>
                    <p>Vísperas de Festivo: Horario de Sábado</p>
                    <p>TELÉFONO DE RESERVAS:</p>
                    <h3>+34 000 111 222</h3>
                </div>
            </div>
        </div>

        <div class="container6">
            <canvas id="genderChart" width="400" height="400"></canvas>
        </div>

    </div>
</section>